<h1>Databinding = Kommunikation</h1>
<h3>1.Methode: String Interpolation</h3>
<p>Title: {{ title }}</p>
<p>ID: {{ id }}</p>
<input type="text" [value]="title" (change)="title = input1.value" #input1>

<app-property-binding [name]="title"></app-property-binding>
<app-event-binding (clicked)="title = $event"></app-event-binding>
<app-two-way-binding></app-two-way-binding>

<!--<hr>-->
<!--<h4>Event Binding</h4>-->
<!--<button (click)="onClick($event)">Click me!</button>-->
<!--<app-event-binding (clicked)="title = $event"></app-event-binding>-->
<!--<h4>Two-Way-Binding</h4>-->
<!--<input type="text" [(ngModel)]="title">-->
