<p>hands-on-rxjs works!</p>

<div class="alert alert-primary" role="alert">
  Aktuell Uhrzeit: {{ currentTime$ | async | date:'HH:mm:ss' }}
</div>

<div class="mb-3">
  <input type="text" id="myinput" class="form-control" placeholder="Enter text ...">
</div>

<div>
  <app-step-switcher></app-step-switcher>
  <app-counter></app-counter>
</div>

<div class="container">
  <button type="button" class="btn btn-primary btn-lg" id="my-buffer-button">Buffer Button</button>
</div>

<div>
  <app-auto-complete></app-auto-complete>
</div>

<div>
  <app-merge-map-demo></app-merge-map-demo>
</div>

<div>
  <app-merge-scan-demo></app-merge-scan-demo>
</div>

<div>
  <app-concat-map-demo></app-concat-map-demo>
</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>zip - combineLatest - withLatestFrom example</h3>
    </div>
    <div class="card-body main" *ngIf="widgetsVisibility">

      <app-city-switcher [citiesObject]="citiesObject"></app-city-switcher>

      <app-coefficient-switcher [coefficientsList]="coefficientsList"></app-coefficient-switcher>

      <app-price></app-price>

    </div>
    <div class="card-body loading" *ngIf="!widgetsVisibility">
      Loading....
    </div>
  </div>
</div>

<div>
  <app-repeat-when-demo></app-repeat-when-demo>
</div>
