/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 40px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 30px 0 30px 0;
}
